.job-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
  /* max-width: "650px !important"; */

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  margin-top: 20px;
}

.job-cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
