.navbar {
  background-color: 'transparet';
  color: #175e5e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.navbar-buttons a {
  text-decoration: none;

  &:hover {
    color: rgb(31, 100, 71);
  }
}

.navbar-title {
  color: #175e5e;
  text-shadow: 
    2px 2px 4px rgb(246, 244, 244),  
    -1px -1px 2px rgba(255, 255, 255, 0.6);  
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;  
}

.navbar-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-buttons button {
  color: #ceceb6e3;
  font-weight: 600;
  margin-left: 0.5rem;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 8px;
}

.navbar-buttons button:hover {
  color: #175e5e;
  background-color: #175e5e;
}
