/* Dodaj stilove za sidebar */
.sidebar-content {
  width: 250px;
  background-color: white;
}

.navbar-title {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  font-weight: 700;
  color: #175e5e;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
}

.navbar-title-highlight {
  color: #c7c776e3;
  font-weight: 700;
  font-family: "Satisfy", cursive;
  border-bottom: 3px solid #175e5e;
  padding-bottom: 4px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.navbar-link {
  text-decoration: none;
  color: inherit;
}

.navbar-buttons {
  color: #175e5e;
}

.navbar-buttons a {
  margin: 0 6px;
  font-weight: 600;
}

.navbar-buttons button:hover {
  color: #175e5e;
  background-color: #c7c776e3;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}
