@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.footer-container {
  background-color: #f4f4f4;
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #175e5e;
  width: 100%;
  border-top: 2px solid #a9a965e3;
  position: relative;
  bottom: 0;
}

.footer-title-container {
  max-width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-title {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.offer-highlight {
  color: #175e5e;
}

.career-highlight {
  color: #a9a965e3;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-heading {
  color: #a9a965e3;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.footer-section span,
.footer-section a {
  font-size: 18px;
}

.contact-section {
  margin-left: 50px;
  margin-right: 50px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-title-container,
.footer-section {
  flex: 1;
  margin-bottom: 20px;
}

.footer-title {
  margin-bottom: 10px;
}
