.search-root-container {  
  padding: 20px;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left {
  margin-right: 10px;
  width: 100%;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.upper div {
  margin: 5px;
}

.lower {
  display: flex;
  align-items: center;
  justify-content: center;
}